.transcription-container {
  height: 40px;
  overflow-y: scroll;
  bottom : 5%;
  left : 0;
  text-align : left;
  background-color : rgba(0,0,0,0.8);
  position :absolute;
  color : rgba(255, 255, 255, 0.97);
  padding : 10px;
  font-size : 20px;
  width : 50%;
  transform : translate(50%);
  border : 2px solid white;
  border-radius: 5px;
  z-index:  10000;
  font-family:  "Arial";
}

.silence-transcription-alert {
  height: auto;
  bottom : calc(5% + 60px);;
  left : 0;
  right: 0;
  margin: auto;
  text-align : center;
  background-color : rgba(54, 97, 182, 0.8);
  position :absolute;
  color : rgba(255, 255, 255, 0.97);
  padding : 10px;
  font-size : 10px;
  width : 40px;
  transform : translate(50%);
  border : 2px solid white;
  border-radius: 5px;
  z-index:  10000;
  font-family:  "Arial";
}

.transcription-container-center {
  height: 40px;
  overflow-y: scroll;
  bottom : 50%;
  left : 0;
  text-align : left;
  background-color : rgba(0,0,0,0.8);
  position :absolute;
  color : rgba(255, 255, 255, 0.97);
  padding : 10px;
  font-size : 20px;
  width : 50%;
  transform : translate(50%);
  border : 2px solid white;
  border-radius: 5px;
  z-index:  10000;
  font-family:  "Arial";
}

.transcription-container-fullscreen {
  bottom : 5%;
  left : 0;
  text-align : left;
  background-color : transparent;
  position :absolute;
  color : rgba(255, 255, 255, 0.97);
  padding : 10px;
  font-size : 20px;
  width : 50%;
  transform : translate(50%);
  border : none;
  z-index:  10000;
  font-family:  "Arial";
}

.increase-level-2 {
  height: 40px;
}

.increase-level-3 {
  height: 60px;
}

.increase-level-4 {
  height: 80px;
}

.increase-level-5 {
  height: 100px;
}

.increase-level-6 {
  height: 120px;
}

.increase-level-7 {
  height: 140px;
}

.increase-level-8 {
  height: 160px;
}

.increase-level-9 {
  height: 180px;
}

.increase-level-10 {
  height: 200px;
}

.increase-level-11 {
  height: 220px;
}
