@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
    min-width: 300px;
    margin: 0;
}

#iframe {
    visibility: hidden;
}

button {
    width: 100%;
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: #ccc;
    text-align: left;
    border: none;
}

button>.fa {
    margin-right: 10px;
}

button:hover {
    background: #bbb;
}

button:focus {
    background: #bbb;
    outline: none;
}

.start.active {
    background: #7cb342;
    color: white;
}

.start.active:hover {
    background: #558b2f;
}

.stop.active {
    background: #e53935;
    color: white;
}

.stop.active:hover {
    background: #c62828;
}

.title-version {
    margin: 0;
}

.bound {
    width: 400px;
    height: 80px;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex
}

.player-logo {
    width: 80px;
    height: 80px;
}

.blue_bg {
    float: right;
    width: 315px;
    height: 80px;
    background-color: #0f1e32;
}

.blue_bg span {
    margin-left: 8px;
    width: 37px;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.wts_logo {
    width: 53px;
    height: 48px;
    text-align: center;
    margin: 16px;
    content: url("../img/wts-logo.svg")
}

.play-group {
    display: flex;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    height: 100%;
}

.play-circle {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.play-circle-start {
    content: url("../img/wts-player-play.svg")
}

.play-circle-pause {
    content: url("../img/wts-player-pause.svg")
}

.play-circle-stop {
    content: url("../img/wts-player-stop.svg")
}

.play-circle-record {
    content: url("../img/wts-player-rec.svg")
}

img.play-circle:hover {
    cursor: pointer;
}

.play-image-text-group {
    display: flex;
    align-items: center;
}

.play-timer {
    width: 42px;
    height: 18px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.play-circle-record {
    margin-left: 88px;
    width: 4px;
    height: 4px;
    object-fit: contain;
}

.wts-menu-group {
    position: relative;
    display: block;
    width: 400px;
    height: 213px;
    box-shadow:  inset 0 1px 0px 0px #e6e6e6;
    background-color: #ffffff;
}

.wts-menu-group-label {
    padding-left: 16px;
    width: 62px;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: bolder;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0f1e32;
}

.wts-menu-language {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    box-shadow: 0 1px 0 0 #e6e6e6;
}

.wts-menu-lines {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    box-shadow: 0 1px 0 0 #e6e6e6;
}

.wts-menu-input-number {
    width: 25px;
    height: 18px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #0f1e32;
}

.wts-menu-history {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
    box-shadow: 0 1px 0 0 #e6e6e6;
}

.wts-menu-feedback-history {
    display: flex;
    width: 100%;
    height: 56px;
    align-items: center;
}