body {
    min-width: 300px;
    padding: 10px 20px;
}

#iframe {
    visibility: hidden;
}

button {
    width: 100%;
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background: #ccc;
    text-align: left;
    border: none;
}

button>.fa {
    margin-right: 10px;
}

button:hover {
    background: #bbb;
}

button:focus {
    background: #bbb;
    outline: none;
}


.start.active {
    background: #7cb342;
    color: white;
}

.start.active:hover {
    background: #558b2f;
}

.stop.active {
    background: #e53935;
    color: white;
}

.stop.active:hover {
    background: #c62828;
}

.title-version {
    margin: 0;
}

.language-select-element {
    position: relative;
    margin-bottom: 1em;
}
  

select {
    border: 1px solid lightgrey;
    font-size: 12px;
    -webkit-appearance: none;
    width: 100%;
    padding: 1em;
    border: 1px solid #ccc;
}

.language-select-element:after{ 
    content: '<>';
    font: 14px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    top: 2.1em;
    border-bottom: 1px solid #999;
    position: absolute;
    pointer-events: none;
}

.bound {
    width: 400px;
    height: 80px;
    border-radius: 4px;
    background-color: #ffffff;
  }

.blue_bg {
    float: right;
    width: 315px;
    height: 80px;
    border-radius: 4px;
    background-color: #0f1e32;
  }

  .blue_bg span {
    width: 37px;
    height: 15px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }